
shield.http.ssl: true
shield.transport.ssl: true
shield.ssl.keystore.path: path/to/es.path.conf/shield/{{ server_cn_filename }}.jks
shield.ssl.keystore.password: password
shield.ssl.truststore.path: path/to/es.path.conf/shield/{{ truststore }}.jks
shield.ssl.truststore.password: password
